[submodule "externals/nats.js"]
	path = externals/nats.js
	url = https://github.com/seydx/nats.js.git
[submodule "externals/camera.ui"]
	path = externals/camera.ui
	url = https://github.com/seydx/camera.ui3.git
